.container{
    display: flex;
    justify-content: space-between;
    background-color: #9E1B32;
    align-items: center;
}


/* Menu */
.nav_menu ul  {
    display: flex;
    list-style-type: none;
}
.nav_menu ul li {

}